:root{
    --color-primary : #2584ff;
    --color-secondary : #00d9ff;
    --color-essential : #ff3400;
    --color-heading : #1b0760;
    --color-body : #918ca4;
    --color-body-darker : #5c5577;
}
*, *::after, *::before{
    box-sizing: border-box;
}
/* Typography */

html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
}
h1,h2,h3{
    color: var(--color-heading);
    margin-bottom: 1rem;
}
p{
    color: var(--color-body);
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
@media screen and(min-width : 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/* Links */

a{
    text-decoration: none;
}

.link-arrow{
    color: var(--color-essential);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin .15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and(min-width : 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem 2rem;
    white-space: nowrap;
}
.badge--primary{
    background-color: var(--color-primary);
    color: white;
}
.badge--secondary{
    background-color: var(--color-secondary);
    color: white;
}
.badge--small{
    font-size: 1.6rem;
}
@media screen and (min-width:1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}

/* Lists */

.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-heading);
}
.list--inline .list__item{
    display: inline;
    margin-right: 2rem;
}
.list--tick{
    padding-left: 3rem;
}
.list--tick .list__item{
    list-style-image: url("../images/tick.svg");
    padding-left: .8rem;
    margin-bottom: 1.5rem;
}
@media screen and (min-width:1024px) {
    .list--tick .list__item{
        padding-left: .4rem;
    }
}
/* icons */
.icon{
    width: 40px;
    height: 40px;
}
.icon--primary{
    fill: var(--color-primary);
}
.icon-container{
    background-color: #f3f9fa;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */

.btn{
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    font-size: 1.8rem;
    border: 0;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    margin: 1rem;
}
.btn--primary{
    background-color: var(--color-primary);
    color: white;
}
.btn--primary:hover{
    background-color: #3b90ff;
}
.btn--secondary{
    background-color: var(--color-secondary);
    color: white;
}
.btn--secondary:hover{
    background-color: #27dfff;
}
.btn--essent{
    background-color: var(--color-essential);
    color: white;
}
.btn--essent:hover{
    background-color: #ff491b;
}
.btn--block{
    display: inline-block;
    width: 100%;
}
.btn--outline{
    background: none;
    border: 2px solid var(--color-heading);
    color: var(--color-heading);
}
.btn--outline:hover{
    background-color: var(--color-heading);
    color: white;
}
@media screen and (min-width: 1024px){
    .btn{
        font-size: 1.5rem;
    }
}

/* Inputs */
.input{
    border: 1px solid rgb(203, 200, 200);
    padding: 1.5rem 3.5rem;
    border-radius: 40px;
    outline: 0;
    color: var(--color-heading);
    font-size: 2rem;
}
::placeholder{
    font-size: 1.8rem;
    color: rgb(203, 200, 200);
}
.input-group{
    border: 1px solid rgb(203, 200, 200);
    border-radius: 40px;
    display: flex;
}
.input-group .input{
    border: 0;
    flex-grow: 1;
    padding: .5rem 1rem;
}

/* Card */
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px rgb(239, 239, 239);
    overflow: hidden;
}
.card__header,.card__body{
    padding: 3rem 3rem;
}
.card--primary .card__header{
    background-color: #2584ff;
    color: white;
}
.card--secondary .card__header{
    background-color: #00d9ff;
    color: white;
}
.card--secondary .badge--secondary{
    background-color: #10ceef;
}
.card--essent .card__header{
    background-color: #ff3400;
    color: white;
}

/* Plans */
.plan__name{
    color: white;
    margin: 1rem 0rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.plan__price{
    font-size: 5rem;
    font-weight: 500;
}
.plan__price{
    font-size: 2rem;
    opacity: .8rem;
    font-weight: 300;
}
.plan__description{
    display: block; 
    font-size: 1.8rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
}
.plan--popular .card__header{
    position:relative;
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}

@media screen and (min-width:1024px) {
    .plan__name{ font-size: 1.4rem;}
    .plan__price{ font-size: 5rem;}
    .plan__price{ font-size: 4rem;}
    .plan__description{ font-size: 1.6rem;}
}

/* Medai */
.media{
    display: flex;
}
.media__title{
    margin: 0;
}
.media__image{
    margin-top: .5rem;
}
.media__body{
    margin: 0 2rem;
}