<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Host On The Cloud To Keep Going</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, .</p>
    </header>

    <div class="grid grid--1x2 feature">
        <div class="block feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="../images/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3>Super Easy To Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nobis aspernatur sapiente harum. Possimus, laborum fugiat. Minima, cumque. Architecto, quasi.</p>
            <a href="" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__img" src="./images/easy.jpg" alt="">
    </div>



    <div class="grid grid--1x2 feature">
        <div class="block feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="../images/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3>Super Easy To Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nobis aspernatur sapiente harum. Possimus, laborum fugiat. Minima, cumque. Architecto, quasi.</p>
            <a href="" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__img" src="./images/easy.jpg" alt="">
    </div>

    <div class="grid grid--1x2 feature">
        <div class="block feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="../images/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3>Super Easy To Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nobis aspernatur sapiente harum. Possimus, laborum fugiat. Minima, cumque. Architecto, quasi.</p>
            <a href="" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__img" src="./images/easy.jpg" alt="">
    </div>
</section>